{% extends 'admin.html.twig' %}

{% block body %}
    <h3 class="page-header">Edit Entry</h3>

    {{ form_start(edit_form) }}
    <label>Name</label>
    {{ form_widget(edit_form.name, { 'attr': {'class': 'form-control'} }) }}
    <br>
    <label>Name</label>
    {{ form_widget(edit_form.lastname, { 'attr': {'class': 'form-control'} }) }}
    <br>
    <label>Gender</label>
    {{ form_widget(edit_form.gender, { 'attr': {'class': 'form-control'} }) }}
    <br>
    <label>Phone Number</label>
    {{ form_widget(edit_form.phone, { 'attr': {'class': 'form-control'} }) }}
    <br>
    <label>Church Address</label>
    {{ form_widget(edit_form.church, { 'attr': {'class': 'form-control'} }) }}
    <br>
    <label>District</label>
    {{ form_widget(edit_form.district, { 'attr': {'class': 'form-control'} }) }}
    <br>
    <input type="submit" value="Edit" class="btn btn-sm btn-success"/>
    {{ form_end(edit_form) }}
    <p>&nbsp;</p>
    <table>
        <tr>
            <td>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-sm btn-danger"> <a href="{{ path('delegates_index') }}" class="btn btn-sm btn-default"><i class="fa fa-reply fa-fw"></i> Back to the list</a>
                {{ form_end(delete_form) }}
            </td>
        </tr>
    </table>
{% endblock %}
